.df, .istanbul, .HK {
  display: none;
}
#body {
background: #FFF url(https://images.fineartamerica.com/images-medium-large/empty-white-sand-tropical-beach-axiom-photographic.jpg) no-repeat center fixed;
background-size: cover;
margin: 0;
border: 0;
padding: 0;
}
.meals {
  max-width: 300px;
  max-height: 100px;
}
.container {
  background-color: #eee;
  padding: 50px;
  opacity: .8;
  align-items: center;
}
#prompt {
  font-size: 20px;
  font: Verdana;
}
.btn {
  background-color: violet;
  font: Verdana;
}
.flower {
  border-radius: 60px;
  max-width: 300px;
  max-height: 100px;
}
.text {
  font: Verdana;
  font-weight: bold;
  font-size: 16px;
}
.answers {
  opacity: none;
}
.destination{
  max-height: 300px;
  max-width: 900px;
}
